<div class="card mx-auto my-5">
    <div class="card-header">
        <h5>Sign in</h5>
    </div>
    <div class="card-body mt-3">
        <div class="row" *ngIf="AuthError">
            <div class="col alert alert-danger">
                {{ authError?.message }}
            </div>
        </div>
        <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="firstName">Nombre</label>
                        <input ngModel #firstname="ngModel" name="firstName" type="email" class="form-control" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="lastName">Apellidos</label>
                        <input ngModel #lastname="ngModel" name="lastName" type="email" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input ngModel #email="ngModel" name="email" type="email" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input ngModel #password="ngModel" name="password" type="password" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="form-group text-center mt-5 mb-3">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
        </form>
    </div>
</div>
