.modal-content {
    width: 45rem;
    border-top: #e18508 3px solid;
}
.modal-header {
    color: black !important;
}
.form-control:focus {
    border-bottom: #e18508 solid 1px !important;
  }
.btn-primary {
    background-color: #e18508 !important;
}