<div class="card mx-auto my-5">
    <div class="card-header">
        <h5>Log In</h5>
    </div>
    <div class="card-body mt-3">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="needs-validation">
            <div class="row" *ngIf="authError">
                <div class="col text-center alert alert-danger">
                    {{ authError?.message }}
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" ngModel #email="ngModel" name="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" ngModel #password="ngModel" class="form-control" name="password" required>
            </div>
            <div class="form-group text-center mt-5 mb-3">
                <button class="btn btn-primary" type="submit">LOG IN</button>
            </div>
            <div class="text-center">
                <span class="small">¿Aún no tienes cuenta? <a href="/signin">Sign in</a></span>
            </div>
        </form>
    </div>
</div>
