<div class="card mx-auto my-5">
    <div class="card-header">
        <h5>Log In</h5>
    </div>
    <div class="card-body mt-3">
        <form class="needs-validation">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" required>
            </div>
            <div class="form-group text-center mt-5 mb-3">
                <button class="btn btn-primary" type="submit">LOG IN</button>
            </div>
            <div class="text-center">
                <span class="small">¿Aún no tienes cuenta? <a href="/signin">Sign in</a></span>
            </div>
        </form>
    </div>
</div>
